.home-section{
    margin: 10px;
}

.home-section > h1 {
    font-weight:500;
    font-size:1.8rem;
    color:rgba(0, 0, 0, 0.897);
}

.create-new-button-row{
    display:flex;
    justify-content:center;
}

.create-new-button{
 text-transform: capitalize;
}