.home-section{
    margin:50px 30px;
    
}

.home-title-row >  h1 {
    font-weight:300;
    font-size:2rem;
    color:rgba(0, 0, 0, 0.897);
}

.create-new-button-row{
    margin-top: 20px;
    
}

.home-title-row{
    display:flex;
    justify-content:space-between;
}

.create-new-button{
 text-transform: capitalize;
}