.mock-list {
    margin: 10px;
    padding: 10px 10px;
    width: 40%;
}

.mock-list-item{
    padding:10px 20px;
    display:flex;
    justify-content: space-between;
    background-color:#fff;
    height:45px;
    border-radius:10px;
    margin-bottom: 8px;
    box-shadow: 0.5px 0.5px;
}

.mock-list-item:nth-of-type(odd){
    background-color:rgb(241, 238, 238);
}

.mock-list-item-link{
    text-decoration: none;
    margin-left: 13px;
    color: black;
}

.mock-details {
    margin-top: 0;
    
}

.mock-details a{
    text-decoration: none;
}

.mock-details-row{
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 0.5px 0.5px #ccc;
    
}


.mock-details-row > h2{
margin: 0;
padding: 0;
font-weight: 300;
font-size:1.9rem;
}

.request-row{
display: flex;
justify-content:space-between;
margin: 0 10px;
background-color:white;
padding:20px 50px;
border-radius:10px;
box-shadow: 0.5px 0.5px #ccc;

}

.request-subtitle{
    color:rgb(77, 66, 66);
    font-weight:500;
}

 h5 > span{
    font-weight: 400;
    color:black;
}

.delete-request-button{
    align-self: center;
}

.mock-details-card{
    margin:30px;
    padding:8px;
    border: 0.5px 0.5px 0.5px 0.5px;

}

.add-request-button {
    text-decoration: none;
    color:white;
}

.json-display > pre{
    background-color:rgb(240, 238, 238);
    padding:20px;
    border-radius: 5px;
    color:rgb(88, 83, 83);
}

