.mock-list {
    margin: 10px;
}

.mock-details {
    margin: 10px;
    
}

.mock-details-row{
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mock-details-row > h2{
margin: 0;
padding: 0;
}