.mock-list {
    margin: 10px;
    padding: 10px 10px;
    width: 40%;
}

.mock-list-item{
    padding:10px 20px;
    display:flex;
    justify-content: space-between;
    background-color:#fff;
   
    height:45px;
    border-radius:10px;
    margin-bottom: 8px;
    box-shadow: 0.5px 0.5px;
}

.mock-list-item:nth-of-type(odd){
    background-color:rgb(241, 238, 238);
}

.mock-list-item-link{
    text-decoration: none;
    margin-left: 13px;
    color: black;
}

.mock-details {
    margin: 10px;
    margin-top: 30px;
    
}

.mock-details-row{
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.mock-details-row > h2{
margin: 0;
padding: 0;
font-weight: 400;
}

.delete-button-row{
display: flex;
justify-content:center;
}

.mock-details-card{
    margin:30px;
    padding:8px;
    border: 0.5px 0.5px 0.5px 0.5px;

}

.add-request-button{
    text-decoration: none;
    color:white;
}